{% from "bootstrap5/form.html" import render_form %} {% block content %} {%
include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="
    background-image: url('../static/assets/img/MD.png');
    background-size: auto;
  "
>
<style>

.btn-clear {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

</style>
  <div class="container position-relative px-4 px-lg-5">
    <div
      class="row gx-4 gx-lg-5 justify-content-center"
      style="padding-bottom: 10px"
    >
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Assign location</h1>
          <span class="subheading"
            >Please check the location and assign devices to it.</span
          >
        </div>
      </div>
    </div>
  </div>
</header>
<hr />
<br />

<main class="mb-4">
  <div class="container">
    <div class="row">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <p class="flash">{{ message }}</p>
      {% endfor %} {% endif %} {% endwith %}

      <!-- fist form to capture asset tags-->
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ render_form(cover_form, novalidate=True, button_map={"submit":
        "primary"}) }}
      </div>
      <div>
        <form action="/assign_asset" method="POST">
          <input
            class="btn-clear"
            type="submit"
            name="clear"
            value="clear"
          />
        </form>
      </div>
      <br />
      <br />
      <ol>
        {% for asset in asset_list %}

        <li>>>> {{asset}}</li>

        {% endfor %}
      </ol>
      <br />
      <hr />
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"})
        }}
      </div>
    </div>
  </div>

  <br />
  <br />
  <hr />
  <br />
  <br />
  <!-- List of downloadable files -->
  <div class="row mt-4">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Downloadable Files</h2>
      <ul>
        {% for file in files %}
        <li>
          <a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>

<script>
  // Focus on the cover_tag input field after form submission
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    const coverTagInput = form.querySelector("#cover_tag");

    form.addEventListener("submit", function (event) {
      event.stopPropagation();
    });

    if (coverTagInput) {
      coverTagInput.value = "";
      coverTagInput.focus();
    }
  });
</script>

{% endblock %}
